<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>

<table class="layui-table" id="table" lay-filter="table"></table>

<!--头工具栏-->
<script type="text/html" id="toolbar">
    <button class="layui-btn" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn" lay-event="isAll">验证是否全选</button>
    <!--查询表单-->
    <form name="search" lay-filter="search" class="layui-form layui-inline">
        <div class="layui-input-inline">
            <input type="text" name="code" required placeholder="编码" autocomplete="off" class="layui-input">
        </div>
    </form>
    <button class="layui-btn" lay-event="search">查询</button>
    <button class="layui-btn" lay-event="reset">重置</button>
</script>
<!--工具条-->
<script type="text/html" id="barRights">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    let table = layui.table;
    table.render({
        height: 'full-240',
        elem: '#table',
        url: '/user/dataList',
        page: true,
        limits: [20, 50, 100],
        limit: 20,
        toolbar: '#toolbar',
        defaultToolbar: [{
            title: '更新'
            , layEvent: 'refresh'
            , icon: 'layui-icon-refresh'
        }, 'filter', 'exports', 'print'],
        request: {pageName: 'pageNum', limitName: 'pageSize'},
        cols: [
            [
                {type: 'checkbox', fixed: 'left'},

                {field: 'id', title: 'id', width: 170},
                {field: 'name', title: 'name', width: 170},

                {fixed: 'right', width: 178, align: 'center', toolbar: '#barRights'}
            ]
        ]
    });

    //头工具栏事件
    table.on('toolbar(table)', function (obj) {
        let checkStatus = table.checkStatus(obj.config.id);
        let data = checkStatus.data;
        switch (obj.event) {
            case 'getCheckData':
                layer.alert(JSON.stringify(data));
                break;
            case 'getCheckLength':
                layer.msg('选中了：' + data.length + ' 个');
                break;
            case 'isAll':
                layer.msg(checkStatus.isAll ? '全选' : '未全选');
                break;
            case 'search':
                let filterData = layui.form.val('search');
                table.reload('table', {
                    where: filterData
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                }); //只重载数据
                //参数回填
                layui.form.val('search', filterData);
                break;
            case 'reset':
                document.forms['search'].reset();
                table.reload('table', {
                    where: layui.form.val('search')
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                }); //只重载数据

                break;
            case 'refresh':
                table.reload('table');
                break;
        }
    });


    //监听工具条
    table.on('tool(table)', function (obj) {
        let data = obj.data;
        if (obj.event === 'detail') {
            layer.msg('ID：' + data.id + ' 的查看操作');
        } else if (obj.event === 'del') {
            layer.confirm('真的删除行么', function (index) {
                obj.del();
                layer.close(index);
            });
        } else if (obj.event === 'edit') {
            layer.alert('编辑行：<br>' + JSON.stringify(data))
        }
    });
</script>

</body>
</html>