<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div>
    <div style="width: 800px;display: inline-block;float: left">
        <table class="layui-table" hidden id="table" lay-filter="table"></table>
    </div>
    <div style="display: inline-block;float: left">
        <div id="auth"></div>
    </div>
</div>

<!--头工具栏-->
<script type="text/html" id="toolbar">
    <!--查询表单-->
    <form name="search" lay-filter="search" class="layui-form layui-inline">
        <div class="layui-input-inline">
            <input type="text" name="code" required placeholder="编码" autocomplete="off" class="layui-input">
        </div>
    </form>
    <button class="layui-btn layui-btn-sm" lay-event="search">查询</button>
    <button class="layui-btn layui-btn-sm" lay-event="reset">重置</button>
</script>
<!--工具条-->
<script type="text/html" id="barTools">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="auth">权限</a>
</script>


<script type="text/html" id="addOrUpdate">
    <form id="formTemplate" class="layui-form" lay-filter="formTemplate">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label" for="roleName">名称</label>
            <div class="layui-input-block">
                <input type="text" name="roleName" id="roleName" required lay-verify="required" placeholder="请输入名称"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="note">注释</label>
            <div class="layui-input-block">
                <input type="text" name="note" id="note" required lay-verify="required" placeholder="请输入注释"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

    </form>
</script>


<script src="/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    let table = layui.table, $ = layui.$;
    let $table = table.render({
        height: 'full-0',
        elem: '#table',
        url: '/role/dataList',
        page: true,
        limits: [20, 50, 100],
        limit: 20,
        toolbar: '#toolbar',
        defaultToolbar: [{
            title: '刷新'
            , layEvent: 'refresh'
            , icon: 'layui-icon-refresh'
        }, {
            title: '新增'
            , layEvent: 'add'
            , icon: 'layui-icon-add-circle'
        }, 'filter', 'exports', 'print'],
        request: {pageName: 'pageNum', limitName: 'pageSize'},
        cols: [
            [
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: '', width: 170},
                {field: 'roleName', title: '角色名', width: 170},
                {field: 'note', title: '注释', width: 170},
                {fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#barTools'}
            ]
        ]
    });

    //头工具栏事件
    table.on('toolbar(table)', function (obj) {
        switch (obj.event) {
            case 'search':
                let filterData = layui.form.val('search');
                table.reload('table', {
                    where: filterData
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                }); //只重载数据
                //参数回填
                layui.form.val('search', filterData);
                break;
            case 'reset':
                document.forms['search'].reset();
                table.reload('table', {
                    where: layui.form.val('search')
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                }); //只重载数据
                break;
            case 'refresh':
                table.reload('table');
                break;
            case 'add':
                add();
                break;
        }
    });


    //监听工具条
    table.on('tool(table)', function (obj) {
        let data = obj.data;
        if (obj.event === 'auth') {
            showAuth(obj);
        } else if (obj.event === 'del') {
            objDel(obj);
        } else if (obj.event === 'edit') {
            console.log(data);
            add(data);
        }
    });


    /**
     * 显示角色的权限信息
     */
    function showAuth(obj) {
        let roleId = obj.data.id;
        $.get('/role/auth/' + roleId, function (result) {
            if (result.code === 0) {
                // tree组件初始回调问题  渲染完成执行回调
                layui.tree.render({
                    elem: "#auth",
                    data: result.data,
                    showCheckbox: true,
                    oncheck: function (obj) {
                        if (obj.data.checked !== obj.checked) {
                            obj.data.checked = obj.checked;
                            //参数拼接
                            let param = {};
                            param.checked = obj.checked;
                            param.roleId = roleId;
                            param.authId = obj.data.id;
                            $.post('/role/addAuth', param, function (result) {
                                layer.msg(result.msg);
                            });
                        }
                        removePack();
                    },
                });
                removePack();
            } else {
                layer.msg(result.msg);
            }
        });
    }

    /**
     * layui-tree 取消父节点复选框
     */
    function removePack() {
        $('.layui-tree-pack').siblings().find('.layui-form-checkbox').remove();
    }


    /**
     * 单个删除
     * @param obj 工具条事件对象
     */
    function objDel(obj) {
        layer.confirm('真的删除行么', function (index) {
            $.ajax({
                type: "post",
                url: '/role/delete',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj.data),
                success: function (result) {
                    layer.msg(result.msg);
                    if (result.code === 0) {
                        obj.del();
                        layer.close(index);
                    }
                }
            });
        });
    }

    /**
     * 角色添加更新弹窗
     * @param data 更新时要填充的表单属性对象
     */
    function add(data) {
        layer.open({
            offset: 't',
            content: $('#addOrUpdate').html(),
            success: function () {
                if (data) {
                    layui.form.val('formTemplate', data);
                }
            },
            yes: function (index) {
                let formData = layui.form.val('formTemplate');
                $.ajax({
                    type: "post",
                    url: '/role/addOrUpdate',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(formData),
                    success: function (result) {
                        layer.msg(result.msg);
                        if (result.code === 0) {
                            $table.reload({
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                            layer.close(index);
                        }
                    }
                });
            }
        });


    }

</script>

</body>
</html>