<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="refresh" content="10">-->
    <title>定时任务管理</title>
    <meta name="renderer" content="webkit">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>

<table class="layui-table" hidden id="table" lay-filter="table"></table>

<!--头工具栏-->
<script type="text/html" id="toolbar">
    <!--查询表单-->
    <form name="search" lay-filter="search" class="layui-form layui-inline">
        <div class="layui-input-inline">
            <label>
                <input type="text" name="name" required placeholder="名称" autocomplete="off" class="layui-input">
            </label>
        </div>
    </form>
    <button class="layui-btn layui-btn-sm" lay-event="search">查询</button>
    <button class="layui-btn layui-btn-sm" lay-event="reset">重置</button>
</script>
<!--工具条-->
<script type="text/html" id="barRights">
    <a sec:authorize-url="/quartz/addOrUpdate" class="layui-btn layui-btn-xs" lay-event="run">运行</a>
    <a sec:authorize-url="/quartz/addOrUpdate" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a sec:authorize-url="/quartz/delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a sec:authorize-url="/quartz/pause" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="pause">暂停</a>
    <a sec:authorize-url="/quartz/reboot" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reboot">恢复</a>
</script>


<script type="text/html" id="addOrUpdate" sec:authorize-url="/quartz/addOrUpdate">
    <form id="formTemplate" class="layui-form" style="padding-top: 10px;padding-right: 15px" lay-filter="formTemplate">

        <div class="layui-form-item">
            <label class="layui-form-label" for="name">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" id="name" {{d.update}} placeholder="请输入名称"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="group">组名</label>
            <div class="layui-input-block">
                <input type="text" name="group" id="group" {{d.update}} placeholder="请输入组"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="jobClass">工作类</label>
            <div class="layui-input-block">
                <input type="text" name="jobClass" id="jobClass" {{d.update}} placeholder="请输入工作类"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="jobClassContent">工作类内容</label>
            <div class="layui-input-block">
                <textarea name="jobClassContent" id="jobClassContent" placeholder="请输入工作类编码,有内容时使用动态编译加载job类,使用数据库保证集群"
                          class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="cron">cron</label>
            <div class="layui-input-block">
                <input type="text" name="cron" id="cron" placeholder="请输入cron"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="misfireInstruction">misfire策略</label>
            <div class="layui-input-block">
                <select name="misfireInstruction" id="misfireInstruction">
                    <!--/*@thymesVar id="enum" type="com.github.quartz.controller.JobVo.MisfireInstructionEnum"*/-->
                    <option th:each="enum:${T(com.github.quartz.controller.JobVo.MisfireInstructionEnum).values()}"
                            th:value="${enum.name()}" th:text="${enum.name()}">SMART_POLICY
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="jobData">jobData</label>
            <!--todo 添加富文本编辑器 代码-->
            <div class="layui-input-block">
                <input type="text" name="jobData" id="jobData" placeholder="请输入jobData"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-layer-btn layui-layer-btn-">
            <button type="submit" style="border: 0;background: white"><a class="layui-layer-btn0">确定</a></button>
        </div>
    </form>
</script>

<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['layer', 'form', 'table', 'jquery', 'laytpl'], function () {
        let table = layui.table, $ = layui.jquery, laytpl = layui.laytpl, layer = layui.layer, form = layui.form;

        let $table = table.render({
            height: 'full-0',
            elem: '#table',
            url: '/quartz/jobs',
            toolbar: '#toolbar',
            defaultToolbar: [{
                title: '刷新'
                , layEvent: 'refresh'
                , icon: 'layui-icon-refresh'
            }, {
                title: '新增'
                , layEvent: 'add'
                , icon: 'layui-icon-add-circle'
            }, 'filter', 'exports', 'print'],
            request: {pageName: 'pageNum', limitName: 'pageSize'},
            cols: [
                [
                    /* {type: 'checkbox', fixed: 'left'},*/
                    {field: 'name', title: '名称', width: 130},
                    {field: 'group', title: '组', width: 130},
                    {field: 'jobClass', title: '工作类', minWidth: 220},
                    {field: 'state', title: '状态', width: 60},
                    {field: 'cron', title: 'cron', minWidth: 150},
                    {field: 'previousFireTime', title: '上次执行时间', width: 180},
                    {field: 'nextFireTime', title: '下次执行时间', width: 180},
                    {field: 'misfireInstruction', title: 'Misfire策略', width: 150},
                    {field: 'concurrentExecutionDisallowed', title: '不允许并发', width: 110},
                    {field: 'jobData', title: 'jobData', width: 110},
                    {field: 'description', title: '备注'},
                    {field: 'durability', title: '自动删除', width: 110},
                    {fixed: 'right', width: 280, align: 'center', toolbar: '#barRights'}
                ]
            ]
        });

        //头工具栏事件
        table.on('toolbar(table)', function (obj) {
            let load;
            switch (obj.event) {
                case 'search':
                    load = layer.load();
                    let filterData = form.val('search');
                    table.reload('table', {
                        where: filterData
                        , page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    }); //只重载数据
                    //参数回填
                    form.val('search', filterData);
                    layer.close(load);
                    break;
                case 'reset':
                    load = layer.load();
                    document.forms['search'].reset();
                    table.reload('table', {
                        where: form.val('search')
                        , page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    }); //只重载数据
                    layer.close(load);
                    break;
                case 'refresh':
                    load = layer.load();
                    table.reload('table');
                    layer.close(load);
                    break;
                case 'add':
                    add();
                    break;
                default:
                    break;
            }
        });


        //监听工具条
        table.on('tool(table)', function (obj) {
            let data = obj.data;
            if (obj.event === 'del') {
                objOperation(data, "delete", "删除");
            } else if (obj.event === 'edit') {
                add(data);
            } else if (obj.event === 'pause') {
                objOperation(data, "pause", "暂停");
            } else if (obj.event === 'reboot') {
                objOperation(data, "reboot", "恢复");
            } else if (obj.event === 'run') {
                objOperation(data, "run", "运行");
            }
        });

        /**
         * 单个操作
         * @param data 工具条事件对象
         * @param url url
         * @param operation 操作类型
         */
        function objOperation(data, url, operation) {
            layer.confirm('真的' + operation + '么', function (index) {
                let load = layer.load();
                $.ajax({
                    type: "post",
                    url: '/quartz/' + url,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (result) {
                        layer.msg(result.msg);
                        if (result.code === 0) {
                            layer.close(load);
                            layer.close(index);
                            $table.reload();
                        }
                    }
                });
            });
        }

        /**
         *
         * @param data 需要填充的表单属性对象 可用作更新
         */
        function add(data) {
            let tplData,url;
            if (data) {
                tplData = {update: 'readonly'};
                //更新
                url='/quartz/update';
            } else {
                tplData = {};
                //添加
                url='/quartz/add';
            }
            layer.open({
                offset: 't',
                title: '表单',
                type: 1,
                content: laytpl($('#addOrUpdate').html()).render(tplData),
                success: function (layerO, index) {
                    if (data) {
                        form.val('formTemplate', data);
                    }
                    form.render('select');
                    //绑定提交事件
                    form.on('submit(formTemplate)', function () {
                        let load = layer.load();
                        let formData = form.val('formTemplate');
                        $.ajax({
                            type: "post",
                            url: url,
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(formData),
                            success: function (result) {
                                if (result.code === 0) {
                                    $table.reload({
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                    });
                                    layer.close(index);
                                } else {
                                    layer.msg(result.msg);
                                }
                                layer.close(load)
                            },
                            error: function (result) {
                                layer.alert(result.msg);
                                layer.close(load)
                            }
                        });
                        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                    });
                },
            });
        }
    });
</script>

</body>
</html>