<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mapper.system.AuthMapper">
    <sql id="Base_Column_List">
        id,authCode,url,title,note,parentNode
    </sql>

    <sql id="where_column_list">
        <if test='id != null'>
            and id = #{id}
        </if>
        <if test='url != null and url != ""'>
            and url = #{url}
        </if>
        <if test='title != null and title != ""'>
            and title LIKE CONCAT('%',#{title},'%')
        </if>
        <if test='note != null and note != ""'>
            and note = #{note}
        </if>
        <if test='parentNode != null'>
            and parentNode = #{parentNode}
        </if>
    </sql>
    <select id="selectList" resultType="com.github.bean.system.Auth">
        select
        <include refid="Base_Column_List"/>
        from t_auth
        <where>
            <include refid="where_column_list"/>
        </where>
        order by id desc
    </select>

    <select id="selectOne" resultType="com.github.bean.system.Auth">
        select
        <include refid="Base_Column_List"/>
        from t_auth
        <where>
            <include refid="where_column_list"/>
        </where>
        limit 1
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into t_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                 id,
            </if>
            <if test="url != null">
                 url,
            </if>
            <if test="authCode != null">
                authCode,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="note != null">
                 note,
            </if>
            <if test="parentNode != null">
                 parentNode,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="authCode != null">
                #{authCode},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="note != null">
                #{note},
            </if>
            <if test="parentNode != null">
                #{parentNode},
            </if>
        </trim>
    </insert>

    <update id="updateById">
        update t_auth
        <set>
            
            <if test="id != null">
                id = #{id},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="authCode != null">
                authCode = #{authCode},
            </if>
            <if test="title != null">
                name = #{title},
            </if>
            <if test="note != null">
                note = #{note},
            </if>
            <if test="parentNode != null">
                parentNode = #{parentNode},
            </if>
            
        </set>
        where id = #{id}
    </update>

</mapper>