<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.mapper.system.RoleMapper">
    <sql id="Base_Column_List">
        id,roleName,note
    </sql>

    <sql id="where_column_list">
        <if test='id != null'>
            and id = #{id}
        </if>
        <if test='roleName != null and roleName != ""'>
            and roleName like concat('%',#{roleName},'%')
        </if>
        <if test='note != null and note != ""'>
            and note = #{note}
        </if>
    </sql>

    <select id="selectList" resultType="com.github.bean.system.Role" parameterType="com.github.bean.system.Role">
        select
        <include refid="Base_Column_List"/>
        from t_role
        <where>
            <include refid="where_column_list"/>
        </where>
        order by id desc
    </select>

    <select id="selectOne" resultType="com.github.bean.system.Role" parameterType="com.github.bean.system.Role">
        select
        <include refid="Base_Column_List"/>
        from t_role
        <where>
            <include refid="where_column_list"/>
        </where>
        limit 1
    </select>


    <insert id="insert" parameterType="com.github.bean.system.Role" useGeneratedKeys="true" keyProperty="id">
        insert into t_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            
            <if test="id != null">
                 id,
            </if>
            <if test="roleName != null">
                 roleName,
            </if>
            <if test="note != null">
                 note,
            </if>
            
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            
            <if test="id != null">
                #{id},
            </if>
            <if test="roleName != null">
                #{roleName},
            </if>
            <if test="note != null">
                #{note},
            </if>
            
        </trim>
    </insert>

    <update id="updateById" parameterType="com.github.bean.system.Role">
        update t_role
        <set>
            
            <if test="id != null">
                id = #{id},
            </if>
            <if test="roleName != null">
                roleName = #{roleName},
            </if>
            <if test="note != null">
                note = #{note},
            </if>
            
        </set>
        where id = #{id}
    </update>

</mapper>