<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>表单操作</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="/css/app.css" >
</head>
<body>
<!--<div class="layui-btn-group toolbar">
    <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
    <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
    <button class="layui-btn" data-type="isAll">验证是否全选</button>
</div>-->
<table class="layui-table"
       lay-data="{ height:'full-0',url:'/table/dataList', page:true,limits:[20,50,100],limit:20, id:'table'}"
       lay-filter="table">
    <thead>
    <tr>
        <!--<th lay-data="{type:'checkbox', fixed: 'left'}"></th>-->
        <th lay-data="{field:'name',  sort: true, fixed: true}">表名</th>
        <th lay-data="{field:'entityName'}">实体名</th>
        <!--<th lay-data="{field:'beanName'}">bean名称</th>-->
        <th lay-data="{field:'comment'}">备注</th>
        <th lay-data="{field:'namePrefix'}">表前缀</th>
        <th lay-data="{fixed: 'right', width:220, align:'center', toolbar: '#barTable'}"></th>
    </tr>
    </thead>
</table>

<script type="text/html" id="barTable">
    <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="do">代码生成</a>
</script>

<script type="text/html" id="htmlScript">
    <form class="layui-form" action="" lay-filter="htmlForm">
        <div class="layui-form-item">
            <label class="layui-form-label" for="html">生成页面</label>
            <div class="layui-input-block">
                <input type="checkbox" name="html" id="html" value="true" lay-skin="switch" lay-text="ON|OFF" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="service">生成基础模块</label>
            <div class="layui-input-block">
                <input type="checkbox" name="service" id="service" value="true" lay-skin="switch" lay-text="ON|OFF"
                       checked>
            </div>
        </div>

    </form>
</script>

<script src="/layui/layui.all.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    let table = layui.table;
    let tableName = 'table';
    //监听表格复选框选择
    table.on('checkbox(' + tableName + ')', function (obj) {
        console.log(obj)
    });
    let $ = layui.$;
    //监听工具条
    table.on('tool(' + tableName + ')', function (obj) {
        let data = obj.data;
         if (obj.event === 'del') {
            layer.confirm('真的删除行么', function (index) {
                obj.del();
                layer.close(index);
            });
        } else if (obj.event === 'edit') {
            layer.alert('编辑行：<br>' + JSON.stringify(data))
        } else if (obj.event === 'do') {
            layer.open({
                offset: 't',
                content: $('#htmlScript').html(),
                yes: function (index) {
                    let param = layui.form.val('htmlForm');
                    param.name = data.name;
                    console.log(param);
                    $.ajax({
                        type: "GET",
                        url: '/table/createCode',
                        data:param,
                        success: function (result) {
                            layer.close(index);
                            layer.alert(JSON.stringify(result.msg));
                        }
                    });
                }
            });
            layui.form.render(null, 'htmlForm');
        }
    });


    let active = {
        getCheckData: function () { //获取选中数据
            let checkStatus = table.checkStatus(tableName)
                , data = checkStatus.data;
            layer.alert(JSON.stringify(data));
        }
        , getCheckLength: function () { //获取选中数目
            let checkStatus = table.checkStatus(tableName)
                , data = checkStatus.data;
            layer.msg('选中了：' + data.length + ' 个');
            return data.length;
        }
        , isAll: function () { //验证是否全选
            let checkStatus = table.checkStatus(tableName);
            layer.msg(checkStatus.isAll ? '全选' : '未全选')
        }
    };

    $('.toolbar .layui-btn').on('click', function () {
        let type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });


</script>

</body>
</html>