<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        thead td .layui-icon {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<table id="treeTable"></table>

<script type="text/html" id="addOrUpdate" sec:authorize-url="/auth/addOrUpdate">
    <form id="formTemplate" class="layui-form" lay-filter="formTemplate">
        <div class="layui-form-item">
            <label class="layui-form-label" for="title">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" id="title" required lay-verify="required" placeholder="请输入标题"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="url">路经</label>
            <div class="layui-input-block">
                <input type="text" name="url" id="url" required placeholder="请输入路径" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="authCode">权限代码</label>
            <div class="layui-input-block">
                <input type="text" name="authCode" id="authCode" required placeholder="权限代码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="note">注释</label>
            <div class="layui-input-block">
                <input type="text" name="note" id="note" required placeholder="请输入注释" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </form>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="treeTableBar">
    <a sec:authorize-url="/auth/addOrUpdate" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="add">新增</a>
    <a sec:authorize-url="/auth/delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/layui/layui.js"></script>
<script>
    layui.config({
        base: '../'
    }).extend({
        treeTable: 'treeTable/treeTable'
    }).use(['layer', 'util', 'treeTable'], function () {
        let $ = layui.jquery;
        let layer = layui.layer;
        let treeTable = layui.treeTable;

        // 渲染表格
        let insTb = treeTable.render({
            elem: '#treeTable',
            height:'full-0',
            tree: {
                iconIndex: 1,
                pidName: 'parentNode',
                isPidData: true
            },
            cols: [
                {field: 'id', title: 'ID',width:50},
                {field: 'title', title: 'title', edit: 'text'},
                {field: 'url', title: 'url', edit: 'text'},
                {field: 'authCode', title: 'authCode', edit: 'text'},
                {field: 'note', title: 'note', edit: 'text'},
                {align: 'center', toolbar: '#treeTableBar', title: '操作'}
            ],
            reqData: function (data, callback) {
                $.get('/auth/dataList', function (res) {
                    callback(res.data);
                });
            },
            style: 'margin-top:0;'
        });

        //行内更新
        treeTable.on('edit(treeTable)', function (obj) {
            // 定义当前对象
            let param={};
            param[obj.field]=obj.value;
            param['id']=obj.data.id;
            let isTrue=true;
            if (obj.value){
            $.ajax({
                type: "post",
                url: '/auth/addOrUpdate',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(param),
                success: function (result) {
                    if (result.code === 0) {
                        insTb.reload({data: result.data});
                        layer.msg(result.msg);
                    }else {
                        isTrue=false;
                        //tips 定位当前元素
                        layer.tips(result.msg, $(obj.tr.prevObject[0]), {tips: [1, '#FF5722']});
                    }
                }
            });
            }
            return isTrue;
        });
        //行内事件
        treeTable.on('tool(treeTable)', function(obj){
            let data = obj.data;  // 获得当前行数据
            let event = obj.event; // 获得lay-event对应的值
            if (event === 'add') { //增加节点
                layer.open({
                    offset: 't',
                    content: $('#addOrUpdate').html(),
                    yes: function (index) {
                        let formData = layui.form.val('formTemplate');
                        formData.parentNode = obj.data.id;
                        let load = layer.load();
                        $.ajax({
                            type: "post",
                            url: '/auth/addOrUpdate',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(formData),
                            success: function (result) {
                                layer.close(load);
                                layer.msg(result.msg);
                                if (result.code === 0) {
                                    insTb.reload();
                                    layer.close(index);
                                }
                            }
                        });
                    },
                    cancel: function(index){
                        insTb.reload();
                        layer.close(index);
                    }
                });
            }  else if (event === 'del') { //删除节点
                let load = layer.load();
                $.ajax({
                    type: "post",
                    url: '/auth/delete',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (result) {
                        layer.msg(result.msg);
                        if (result.code === 0) {
                            obj.del(); // 删除对应行，并更新缓存
                        }
                        layer.close(load);
                    }
                });
            }
        });

    });
</script>
</body>
</html>