<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>表单操作</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<table class="layui-table"
       lay-data="{ height:'full-0',url:'./dataList', page:true,limits:[20,50,100],limit:20, id:'table'}"
       lay-filter="table">
    <thead>
    <tr>
        <!--<th lay-data="{type:'checkbox', fixed: 'left'}"></th>-->
        <th lay-data="{field:'name',  sort: true, fixed: true}">表名</th>
        <th lay-data="{field:'entityName'}">实体名</th>
        <!--<th lay-data="{field:'beanName'}">bean名称</th>-->
        <th lay-data="{field:'comment'}">备注</th>
        <th lay-data="{field:'namePrefix'}">表前缀</th>
        <th lay-data="{fixed: 'right', width:220, align:'center', toolbar: '#barTable'}"></th>
    </tr>
    </thead>
</table>

<script type="text/html" id="barTable">
    <a class="layui-btn layui-btn-sm" lay-event="do">代码生成</a>
</script>

<script type="text/html" id="htmlScript">
    <form class="layui-form" action="" lay-filter="htmlForm">
        <div class="layui-form-item">
            <label class="layui-form-label" for="html">生成页面</label>
            <div class="layui-input-block">
                <input type="checkbox" name="html" id="html" value="true" lay-skin="switch" lay-text="ON|OFF" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="service">生成基础模块</label>
            <div class="layui-input-block">
                <input type="checkbox" name="service" id="service" value="true" lay-skin="switch" lay-text="ON|OFF"
                       checked>
            </div>
        </div>

    </form>
</script>

<script th:src="@{/webjars/layui/layui.js}" type="text/javascript"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['table', 'jquery', 'form'], function () {
        let table = layui.table,
            $ = layui.jquery,
            form = layui.form;
        //监听工具条
        table.on('tool(table)', function (obj) {
            let data = obj.data;
            /*生成代码*/
           if (obj.event === 'do') {
                layer.open({
                    offset: 't',
                    content: $('#htmlScript').html(),
                    yes: function (index) {
                        let param = form.val('htmlForm');
                        param.name = data.name;
                        $.ajax({
                            type: "GET",
                            url: './createCode',
                            data: param,
                            success: function (result) {
                                layer.close(index);
                                layer.alert(JSON.stringify(result.msg));
                            }
                        });
                    }
                });
                form.render(null, 'htmlForm');
            }
        });
    });
</script>

</body>
</html>