<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guttv.mapper.UserMapper">
    <sql id="Base_Column_List">
        id,name
    </sql>

    <sql id="where_column_list">



        <if test='id != null'>
            and id = #{id}
        </if>

        <if test='name != null and name != ""'>
            and name = #{name}
        </if>


    </sql>
    <select id="selectList" resultType="com.guttv.bean.User" parameterType="com.guttv.bean.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <where>
            <include refid="where_column_list"/>
        </where>
        order by id desc
    </select>

    <select id="selectOne" resultType="com.guttv.bean.User" parameterType="com.guttv.bean.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <where>
            <include refid="where_column_list"/>
        </where>
        limit 1
    </select>


    <insert id="insert" parameterType="com.guttv.bean.User"  useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            
            <if test="id != null">
                 id,
            </if>
            <if test="name != null">
                 name,
            </if>
            
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            
        </trim>
    </insert>

    <update id="updateById" parameterType="com.guttv.bean.User">
        update t_user
        <set>
            
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            
        </set>
        where id = #{id}
    </update>

</mapper>